{% extends "base.html" %}
{% load static %}

{% block extra_head %}
	<script type="text/javascript" src="{% static "js/intercambios/crear_evento.js" %}"></script>
{% endblock %}
{% block content %}
<div class="col-lg-6 jumbotron  col-lg-offset-3">
    <h1 class="titulo-eventos text-center">Crear Evento</h1> 
    <form action="/crear/evento/" method="post">
		{% csrf_token %}
	    <table class="table-evento text center">
	        <tr>
	            <td style="width: 30px;"> <span class="glyphicon glyphicon-gift"></span></td>
	            <td> <input name="nombre_evento" type="text" placeholder="Nombre del Evento"/></td>
	        </tr>
	        <tr>
	            <td><span class="glyphicon glyphicon-calendar"></span></td>
	            <td><input id="fecha" name="fecha" type="text" placeholder="Fecha del Intercambio"/></td>
	        </tr>
	        <tr>
	            <td><span class="glyphicon glyphicon-user"></span></td>
	            <td> <input name="participantes" type="text" placeholder="Numero de Participantes"/></td>
	        </tr>
	        <tr>
	            <td><span class="glyphicon glyphicon-usd"></span></td>
	            <td> <input name="precio" type="text" placeholder="Precio"/></td>
	        </tr>
	         <tr>
	         <td></td>
	            <td class="text-center" text-center">
	            <input type="submit" style="margin-top:15px; width:100%;"class="btn btn-default btn-primary btn-lg" value="Crear Evento"/>
	            </td>
	        </tr>
	    </table>
    </form>
</div>
{% endblock %}