{% extends "base.html" %}
{% load partition %}
{% load static %}

{% block extra_head %}
	<script type="text/javascript" src="{% static "js/intercambios/detalles_evento.js" %}"></script>
	<script type="text/javascript" src="{% static "js/scratch/wScratchPad.js" %}"></script>
{% endblock %}
{% block content %}

<style>
h1 {
    text-align: center;
    font-size: 30px;
    color: black;
    font-family: 'Helvetica' Helvetica;
}

#textadj {
    position: relative;
    top: -125px;
}

body {
    font-family: 'Helvetica' Helvetica;
    font-size: 12px;
  }

  #stage {
    margin: 150px auto;
    width: 600px;
    height: 200px;

    -webkit-perspective: 800;
  }

  #rotate1 {
      position: relative;
      width: 200px;
      height: 400px;
      float: left;
      margin: auto;
  }

  #rotate2 {
      position: relative;
      left: -200px;
      width: 200px;
      height: 400px;
      float: left;
      margin: auto;
  }

  #rotate3 {
      position: relative;
      left: -400px;
      width: 200px;
      height: 400px;
      float: left;
      margin: auto;
  }

  #rotate {
    margin: 200px auto 0 auto;
    width: 600px;
    height: 400px;

    /*-webkit-transform-style: preserve-3d;

    -webkit-animation-name: x-spin;
    -webkit-animation-duration: 7s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;*/
  }

  .ring {
    margin: 0 auto;
    height: 110px;
    width: 600px;
    -webkit-transform-style: preserve-3d;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;

  }
  
  .ring > :nth-child(odd) {
    background-color: #FC1724;
    color:#F5EEEE;
  }

  .ring > :nth-child(even) {
    background-color: #0D0911;
    color:#F5EEEE;
  }

  .tile1 {
      -webkit-box-shadow: 5px 5px 3px #000;
      -moz-box-shadow: 5px 5px 3px #000;
      -o-box-shadow: 5px 5px 3px #000;
      box-shadow: 5px 5px 3px #000;
    position: absolute;
    left: 100px;
    width: 100px;
    height: 100px;
    color: rgba(0,0,0,0.9);
    -webkit-border-radius: 10px;
  }

  .tile2 {
     -webkit-box-shadow: 0 5px 3px #000;
      -moz-box-shadow: 0 5px 3px #000;
      -o-box-shadow: 0 5px 3px #000;
      box-shadow: 0 5px 3px #000;
    position: absolute;
    left: 250px;
    width: 100px;
    height: 100px;
    color: rgba(0,0,0,0.9);
    -webkit-border-radius: 10px;
  }

  .tile3 {
     -webkit-box-shadow: -5px 5px 3px #000;
      -moz-box-shadow: -5px 5px 3px #000;
      -o-box-shadow: -5px 5px 3px #000;
      box-shadow: -5px 5px 3px #000;
    position: absolute;
    left: 400px;
    width: 100px;
    height: 100px;
    color: rgba(0,0,0,0.9);
    -webkit-border-radius: 10px;
  }
  
  .tile1 > p {
    font-family: 'Helvetica' Helvetica;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-top: 28px;
  }

   .tile2 > p {
    font-family: 'Helvetica' Helvetica;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-top: 28px;
  }

   .tile3 > p {
    font-family: 'Helvetica' Helvetica;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-top: 28px;
  }

  #ring-1 {
    -webkit-animation-name: x-spin;
    -webkit-animation-duration: 1s;
  }


  #ring-2 {
    -webkit-animation-name: x-spin-2;
    -webkit-animation-duration: 2s;
  }

  #ring-3 {
    -webkit-animation-name: x-spin-3;
    -webkit-animation-duration: 3s;
  }


  @-webkit-keyframes x-spin {
    0%    { -webkit-transform: rotateX(360deg); }
    50%   { -webkit-transform: rotateX(180deg); }
    100%  { -webkit-transform: rotateX(0deg); }
  }

   @-webkit-keyframes x-spin-2 {
    0%    { -webkit-transform: rotateX(720deg); }
    50%   { -webkit-transform: rotateX(360deg); }
    100%  { -webkit-transform: rotateX(0deg); }
  }

   @-webkit-keyframes x-spin-3 {
    0%    { -webkit-transform: rotateX(1080deg); }
    50%   { -webkit-transform: rotateX(540deg); }
    100%  { -webkit-transform: rotateX(0deg); }
  }

  @-webkit-keyframes back-y-spin {
    0%    { -webkit-transform: rotateY(360deg); }
    50%   { -webkit-transform: rotateY(180deg); }
    100%  { -webkit-transform: rotateY(0deg); }
  }

	#sorteo{
		font-size: 48px;
margin: 0 0 30px 0;
color: white;
text-shadow: -3px -3px 0 #000, 1px -3px 0 #000, -3px 3px 0 #000, 3px 3px 0 #000;


	}
</style>
    <div id="stage" style=" display:none; opacity:1; position:fixed; z-index:99999; top: 0%; left: 33%;" >
    <h1 id="sorteo">Generando el sorteo...</h1>
        <div id="rotate">
        <div id="rotate1">
            <div id="ring-1" class="ring">
                <div class="tile1" style="-webkit-transform: rotateX(0deg) translateZ(200px); "><p>Fred</p></div>
                <div class="tile1" style="-webkit-transform: rotateX(30deg) translateZ(200px); "><p>Loser</p></div>
                <div class="tile1" style="-webkit-transform: rotateX(60deg) translateZ(200px); "><p>Loser</p></div>
                <div class="tile1" style="-webkit-transform: rotateX(90deg) translateZ(200px); "><p>Loser</p></div>
                <div class="tile1" style="-webkit-transform: rotateX(120deg) translateZ(200px); "><p>Loser</p></div>
                <div class="tile1" style="-webkit-transform: rotateX(150deg) translateZ(200px); "><p>Loser</p></div>
                <div class="tile1" style="-webkit-transform: rotateX(180deg) translateZ(200px); "><p>Loser</p></div>
                <div class="tile1" style="-webkit-transform: rotateX(210deg) translateZ(200px); "><p>Loser</p></div>
                <div class="tile1" style="-webkit-transform: rotateX(240deg) translateZ(200px); "><p>Loser</p></div>
                <div class="tile1" style="-webkit-transform: rotateX(270deg) translateZ(200px); "><p>Loser</p></div>
                <div class="tile1" style="-webkit-transform: rotateX(300deg) translateZ(200px); "><p>Loser</p></div>
                <div class="tile1" style="-webkit-transform: rotateX(330deg) translateZ(200px); "><p>Loser</p></div>
            </div>
        </div>
        <div id="rotate2">
            <div id="ring-2" class="ring">
                <div class="tile2" style="-webkit-transform: rotateX(0deg) translateZ(200px); "><p>Fred</p></div>
                <div class="tile2" style="-webkit-transform: rotateX(30deg) translateZ(200px); "><p>Loser</p></div>
                <div class="tile2" style="-webkit-transform: rotateX(60deg) translateZ(200px); "><p>Loser</p></div>
                <div class="tile2" style="-webkit-transform: rotateX(90deg) translateZ(200px); "><p>Loser</p></div>
                <div class="tile2" style="-webkit-transform: rotateX(120deg) translateZ(200px); "><p>Loser</p></div>
                <div class="tile2" style="-webkit-transform: rotateX(150deg) translateZ(200px); "><p>Loser</p></div>
                <div class="tile2" style="-webkit-transform: rotateX(180deg) translateZ(200px); "><p>Loser</p></div>
                <div class="tile2" style="-webkit-transform: rotateX(210deg) translateZ(200px); "><p>Loser</p></div>
                <div class="tile2" style="-webkit-transform: rotateX(240deg) translateZ(200px); "><p>Loser</p></div>
                <div class="tile2" style="-webkit-transform: rotateX(270deg) translateZ(200px); "><p>Loser</p></div>
                <div class="tile2" style="-webkit-transform: rotateX(300deg) translateZ(200px); "><p>Loser</p></div>
                <div class="tile2" style="-webkit-transform: rotateX(330deg) translateZ(200px); "><p>Loser</p></div>
            </div>
        </div>
        <div id="rotate3">
            <div id="ring-3" class="ring">
                <div class="tile3" style="-webkit-transform: rotateX(0deg) translateZ(200px); "><p>Fred</p></div>
                <div class="tile3" style="-webkit-transform: rotateX(30deg) translateZ(200px); "><p>Loser</p></div>
                <div class="tile3" style="-webkit-transform: rotateX(60deg) translateZ(200px); "><p>Loser</p></div>
                <div class="tile3" style="-webkit-transform: rotateX(90deg) translateZ(200px); "><p>Loser</p></div>
                <div class="tile3" style="-webkit-transform: rotateX(120deg) translateZ(200px); "><p>Loser</p></div>
                <div class="tile3" style="-webkit-transform: rotateX(150deg) translateZ(200px); "><p>Loser</p></div>
                <div class="tile3" style="-webkit-transform: rotateX(180deg) translateZ(200px); "><p>Loser</p></div>
                <div class="tile3" style="-webkit-transform: rotateX(210deg) translateZ(200px); "><p>Loser</p></div>
                <div class="tile3" style="-webkit-transform: rotateX(240deg) translateZ(200px); "><p>Loser</p></div>
                <div class="tile3" style="-webkit-transform: rotateX(270deg) translateZ(200px); "><p>Loser</p></div>
                <div class="tile3" style="-webkit-transform: rotateX(300deg) translateZ(200px); "><p>Loser</p></div>
                <div class="tile3" style="-webkit-transform: rotateX(330deg) translateZ(200px); "><p>Loser</p></div>
            </div>
        </div>
        </div>
       
    </div>
    
       
<div class="col-lg-12 jumbotron " style="padding-left: 10px; border-radius:30px !important; padding-right: 10px;">
		<h1 style="padding:8px; border-radius:29px; background-color:white;"  class="titulo-eventos text-center marron titulo-evento">Bienvenido al Evento</br><span class="rojo" > {{nuevo_evento.nombre}}</span></h1>
	<div style="background-color:white; padding: 5px 30px 5px 30px; border-radius:30px; min-height: 380px;">
	<div class="col-lg-6">
	<h3><span class="Diamond color-esperanza" style="font-size: 40px">Detalles del Evento:</span></h3>
	   <ul style="margin-top:0px;"class="list-group  detalle-evento Diamond ">
	    <li class="list-group-item ">Creado por: <span class="rojo" > {{ nuevo_evento.admin }}</span></li>
	    <li class="list-group-item ">Fecha: <span class="rojo" > {{ nuevo_evento.fecha_evento }}</span>
		    {% if nuevo_evento.admin == user %}
		    <div class="pull-right">
			    <a  class=" no-title colorbox-link" href="/editar/evento/{{ nuevo_evento.id }}/">
			   	 <span  class=" glyphicon glyphicon-pencil"></span
			    </a>
		    </div>
		    {% endif %}
	    </li>
	    <li class="list-group-item ">Precio del Regalo: <span class="rojo"> ${{ nuevo_evento.precio }}</span>
	   		 {% if nuevo_evento.admin == user %}
	   		 <div class="pull-right">
			    <a  class=" no-title colorbox-link" href="/editar/evento/{{ nuevo_evento.id }}/">
			   	 <span  class=" glyphicon glyphicon-pencil"></span
			    </a>
		    </div>
		    {% endif %}
	    </li>
	    <li class="list-group-item ">Numero de Participantes: <span class="rojo" > {{ nuevo_evento.numero_participantes }}</span>
	    	 {% if nuevo_evento.admin == user %}
	    	 <div class="pull-right">
			    <a  class=" no-title colorbox-link" href="/editar/evento/{{ nuevo_evento.id }}/">
			   	 <span class="glyphicon glyphicon-pencil"></span
			    </a>
		    </div>
		    {% endif %}
	    </li>
	    <li class="list-group-item ">Faltan: <span class="rojo" > {{ participantes_faltantes }} </span>participantes por confirmar</li><br>
    	<a class="no-title colorbox-link " href = "/invitar/evento/{{ nuevo_evento.id }}/ " ><div class=" btn btn-default btn-lg btn-custom glyphicon btn-rosita Secrets " style="width:100%; font-size:30px; font-weight:bold;" > Invitar Participantes</div></a><br>
	    <a class="no-title colorbox-link " href = "/elegir/regalo/{{ nuevo_evento.id }}/ " ><div class=" btn btn-default btn-lg btn-custom glyphicon btn-rosita Secrets " style="width:100%; font-size:30px; font-weight:bold;" > Elegir Regalo</div></a>
	   </ul>
  	</div> 
   	<h3><span class="Diamond color-esperanza" style="font-size: 40px">Participantes Registrados:  <span class="rojo">{{ participantes.count }}</span></span></h3>
   	<div class="col-lg-6">
   	<table style="width:100%; font-size:20px;" class="table fondo-tabla  ">
   	
   	
   	{% for participante_tupla in participantes|columns:2 %}
   	<tr class="fondo-tabla">
   	{% for participante in participante_tupla %}
   		<td style="border-left:3px solid black;"><span class="glyphicon glyphicon-ok " text="Ver Regalos" style="color: #D11D59"> </span></td>
   		<td><span class="Secrets" style="color: #333333;">{{ participante.nombre }}</span></td>
   		<td><span class="glyphicon glyphicon-gift  rojo"></span></td>
   		<td><span class="glyphicon glyphicon-trash  rojo"></span></td>
   		<td style="border-right:3px solid black;"></td>
   	{% endfor %}
   	</tr>
   	{% endfor %}
    </table>
    {% if regala_a %}
    Te toco regalarle a:   {{ regala_a }}
    
  {% endif %}
    </div>
    
   <div>
   <a  class="no-title" href="/generar/intercambio/evento/{{ nuevo_evento.id }}/"><h1 style="padding:8px; border-radius:29px; background-color:white;"  class="titulo-eventos text-center marron titulo-evento"><span class="btn btn-default btn-lg btn-esperanza2 Secrets" style="padding-left: 5px; border-radius:13px !important; padding-right: 10px; width:100%; font-size:40px; font-weight:bold;">Iniciar sorteo del Intercambio</span></h1></a> 
	</div>


{% endblock %}