{% extends "base.html" %}
{% load partition %}
{% load static %}

{% block extra_head %}
	<script type="text/javascript" src="{% static "js/intercambios/detalles_evento.js" %}"></script>
	<script type="text/javascript" src="{% static "js/scratch/wScratchPad.js" %}"></script>
	<script type="text/javascript" src="{% static "js/countdown/jquery.countdown.js" %}"></script>

	<link rel="stylesheet" type="text/css" href="{% static "js/select2/select2.css" %}" />
	<link rel="stylesheet" type="text/css" href="{% static "css/ruleta.css" %}" />
	<script type="text/javascript" src="{% static "js/select2/select2.min.js" %}"></script>
    <script>
     var dias = '{{ fecha_delta.dias }}'
     var horas = '{{ fecha_delta.horas }}'
     var minutos = '{{ fecha_delta.minutos }}'
     var segundos = '{{ fecha_delta.segundos }}'
     var eventoID = '{{ nuevo_evento.id }}'
     var participanteadminID = '{{ participante_admin.id }}'
     var adminID = '{{ nuevo_evento.admin.id }}'
     var userID = '{{ user.id }}'
    </script>
{% endblock %}
{% block content %}

<div id="detalle-evento" class="col-lg-12 jumbotron " style="padding-left: 10px; border-radius:30px !important; padding-right: 10px; padding-bottom:40px;">
	<h1 id="detalle-title" style="padding:8px; border-radius:29px; background-color:white;"  class="titulo-eventos text-center marron titulo-evento">Bienvenido al Evento</br><span class="rojo" > {{nuevo_evento.nombre}}</span></h1>
	<div style="background-color:white; padding: 5px 30px 40px 30px; border-radius:30px; min-height:870px;">
		
		{% if regala_a %}
		
			<div id="intercambio" class=" Diamond text-center" id="intercambio" style="line-height:80px; font-size:40px; margin-top:20px; margin-bottom:30px;">
	    	<div class="">Te toco regalarle a:</div>
	    	<div class="regala-a" id="regala-a" style="cursor:pointer; min-width:30px; line-height:30px; padding:30px 140px; border-radius:20px; display:inline;background-color:#DFC569; font-size:35px;"> 
	    		<span id="secret" class="rojo regala-a" style="font-size:50px;">? ? ?</span>
	    		<span class="regala-a" style="display:none" id="show-secret">{{ regala_a }}</span>
	    	</div>
	    		<div style="font-size:25px;" class="rojo">Da click en el recuadro de arriba para descubrir a quien le vas a reglar</div>
	    	</div>
	 	{% endif %}
	 		  
		<div class="col-lg-6">
		<h3><span class="Diamond color-esperanza" style="font-size: 40px">Detalles del Evento:</span></h3>
		   <ul style="margin-top:0px;"class="list-group  detalle-evento Diamond ">
		    <li class="list-group-item ">Creado por: <span class="rojo" > {{ nuevo_evento.admin.nombre }}</span></li>
		    <li class="list-group-item ">Fecha: <span class="rojo" > {{ nuevo_evento.fecha_evento }}</span>
			    {% if nuevo_evento.admin == user %}
			    <div class="pull-right">
				    <a  class=" no-title colorbox-link" href="/editar/evento/{{ nuevo_evento.id }}/">
				   	 <span  class=" glyphicon glyphicon-pencil"></span
				    </a>
			    </div>
			    {% endif %}
		    </li>
		    <li class="list-group-item ">Precio del Regalo: <span class="rojo"> ${{ nuevo_evento.precio }}</span>
		   		 {% if nuevo_evento.admin == user %}
		   		 <div class="pull-right">
				    <a  class=" no-title colorbox-link" href="/editar/evento/{{ nuevo_evento.id }}/">
				   	 <span  class=" glyphicon glyphicon-pencil"></span
				    </a>
			    </div>
			    {% endif %}
		    </li>
		    <li class="list-group-item ">Numero de Participantes: <span class="rojo" > {{ nuevo_evento.numero_participantes }}</span>
		    	 {% if nuevo_evento.admin == user %}
		    	 <div class="pull-right">
				    <a  class=" no-title colorbox-link" href="/editar/evento/{{ nuevo_evento.id }}/">
				   	 <span class="glyphicon glyphicon-pencil"></span
				    </a>
			    </div>
			    {% endif %}
		    </li>
		    <li class="list-group-item ">Faltan: <span id="faltan" class="rojo" >{{ participantes_faltantes }}</span> participantes por confirmar</li><br>
	    	{% if not regala_a %}
	    	<a id="invitar-participantes" class="no-title colorbox-link " href = "/invitar/evento/{{ nuevo_evento.id }}/ " ><div class=" btn btn-default btn-lg btn-custom glyphicon btn-rosita Secrets " style="width:100%; font-size:30px; font-weight:bold;" > Invitar Participantes</div></a><br>
		    {% endif %}
		    <a class="no-title colorbox-link " href = "/elegir/regalo/{{ nuevo_evento.id }}/" ><div class=" btn btn-default btn-lg btn-custom glyphicon btn-rosita Secrets " style="width:100%; font-size:30px; font-weight:bold;" > Elegir Regalo</div></a>
		   </ul>
  	</div> 
   	<div class="col-lg-6">
   	<h3><span class="Diamond color-esperanza" style="font-size: 40px">Participantes Registrados:  <span id="total-participantes" class="rojo">{{ participantes.count }}</span></span></h3>
	   	<table style="width:100%; font-size:20px;" class="table fondo-tabla  ">
	   	
	   	
	   	{% for participante_tupla in participantes|columns:2 %}
	   	<tr class="fondo-tabla">
	   	{% for participante in participante_tupla %}
	   	<h3>{{ participante.id }}</h3>s
	   		<td class="participante-{{ participante.id }}" style="border-left:3px solid black;"><span class="glyphicon glyphicon-ok " text="Ver Regalos" style="color: #D11D59"> </span></td>
	   		<td class="participante-{{ participante.id }}" style="cursor:pointer;" title="{{ participante.usuario.nombre }}"><span class="Secrets" style="color: #333333;">{{ participante.usuario }}</span></td>
	   		<td class="participante-{{ participante.id }}"> <a class="no-title colorbox-link " href = "/elegir/regalo/{{ nuevo_evento.id }}/" > <span class="glyphicon glyphicon-gift  rojo"></span></a></td>
	   		<td style="cursor:pointer;"title="Eliminar a {{ participante.usuario }} del intercambio" name="{{ participante.usuario }}" id="{{ participante.id }}" class="borrar-participante participante-{{ participante.id }}">
	   		
	   		<span class="glyphicon glyphicon-trash  rojo"></span>
	   		
	   		</td>
	   		<td class="participante-{{ participante.id }}"style="border-right:3px solid black;"></td>
	   	{% endfor %}
	   	</tr>
	   	{% endfor %}
	    </table>
	    
    </div>
    
    
     <div id="counter-container" style="margin-top:25px;"class="col-lg-7 col-lg-offset-3">
		<!--<div class="text-center">Faltan</div>-->
		 <div id="counter"></div>
		  	<div class="desc">
			    <div>Días</div>
			    <div>Horas</div>
			    <div>Minutos</div>
			    <div>Segundos</div>
	  		</div>
<!--<div style="margin-right:-70px">kujh</div>-->
	</div><br>
	  		{% if not regala_a %}
	   		<span id="generar-intercambio" class="btn btn-default btn-lg btn-esperanza2 Secrets" style="padding-left: 5px; border-radius:13px !important; padding-right: 10px; width:100%; font-size:40px; font-weight:bold;">
	   			Iniciar sorteo del Intercambio
	   		</span>
	   		{% endif %}
	   		
	  	
			
  	</div>
   </div>

{% endblock %}