{% load static %}

{% block extra_head %}
	<script type="text/javascript" src="{% static "js/intercambios/invitar_evento.js" %}"></script>
	<script>
	var fecha = "{{ evento.fecha_evento|date:"m/d/Y" }}";
	
	</script>
{% endblock %}
<div class="container">
	<div class="col-lg-12 jumbotron" style="margin-bottom:0px;">
	<h2>Regalos ideales para{% if participante.usuario.apodo %} {{participante.usuario.apodo}} {% else %} {{participante.usuario.nombre}}{% endif %}:</h2>
	
		<div class="titulo-circular" style="font-size: 20px">
		<form enctype="multipart/form-data"  action="/elegir/regalo/{{ evento.id }}/" method="post">
		{% csrf_token %}
		<table style="width: 100% ; margin-botton:40px;">
			<td >
				<div><input id="libros" style="height:20px !important;" type="checkbox" name="regalo" value="Libros"  {% if "Libros" in regalos %}checked{% endif %}> <label class="manita" for ="libros">  Libros</label></div>
				<div><input id="chocolates" style="height:20px !important;" type="checkbox" name="regalo" value="Chocolates"  {% if "Chocolates" in regalos %}checked{% endif %}><label class="manita" for ="chocolates">   Chocolates</label></div>
				<div><input id="bebidas" style="height:20px !important;" type="checkbox" name="regalo" value="Bebidas Alcoholicas" {% if "Bebidas Alcoholicas" in regalos %}checked{% endif %}> <label class="manita" for="bebidas" > Bebidas Alcoholicas</label></div>
			</td>
			<td >
				<div><input id="accesorios" style="height:20px !important;" type="checkbox" name="regalo" value="Bolsas/Accesorios"{% if "Bolsas/Accesorios" in regalos %}checked{% endif %}> <label class="manita" for ="accesorios">  Bolsas/Accesorios</label></div>
				<div><input id="ropa" style="height:20px !important;" type="checkbox" name="regalo" value="Ropa" {% if "Ropa" in regalos %}checked{% endif %}><label class="manita" for="ropa">   Ropa</label></div>
				<div><input id="perfumes" style="height:20px !important;" type="checkbox" name="regalo" value="Perfumes" {% if "Perfumes" in regalos %}checked{% endif %}><label class="manita" for ="perfumes">   Perfumes</label></div>
			</td>
			<td >
				<div><input id="electronica" style="height:20px !important;" type="checkbox" name="regalo" value="Electronica" {% if "Electronica" in regalos %}checked{% endif %}><label class="manita" for ="electronica">   Electronica </label></div>
				<div><input id="cd" style="height:20px !important;" type="checkbox" name="regalo" value="CD/DVD" {% if "CD/DVD" in regalos %}checked{% endif %}><label class="manita" for ="cd">  CD/DVD </label></div>
				<div><input id="otro" style="height:20px !important;" type="checkbox" name="regalo" value="Otro" {% if "Otro" in regalos %}checked{% endif %}> <label class="manita" for ="otro"> Otro </label></div>
			</td>
		
		
		</table>
		<br>
		
		Detalles:<textarea value="{{ participante.detalle_regalo }}" name="comentarios" rows="2" cols="50" placeholder="Escribe aqui tus comentarios" >{{ participante.detalle_regalo }}</textarea>
		
	</div>
			<td class="text-center" text-center">
	            {% if editable %}
	            
	            <input type="submit" id="guardar" style="margin-top:15px; width:100%;"class="btn btn-default btn-primary btn-lg" value="Guardar"/>
	           	{% else  %}
	           		<script>$(':checkbox').attr('disabled','disabled');</script>
	            {% endif %}
	        </td>
	        </form>
</div>