{% load static %}

{% block extra_head %}
	<script type="text/javascript" src="{% static "js/intercambios/invitar_evento.js" %}"></script>
	<script>
	var fecha = "{{ evento.fecha_evento|date:"m/d/Y" }}";
	
	</script>
{% endblock %}
<div class="container">
	<div class="col-lg-12 jumbotron" style="margin-bottom:0px;">
	<h2>Tipo de Regalo que te gustaria recibir:</h2>
		<div class="titulo-circular" style="font-size: 20px">
		<table style="width: 100% ; margin-botton:40px;">
			<td >
				<div><input style="height:20px !important;" type="checkbox" name="regalo" value="libros">   Libros</div>
				<div><input style="height:20px !important;" type="checkbox" name="regalo" value="chocolates">   Chocolates</div>
				<div><input style="height:20px !important;" type="checkbox" name="regalo" value="bebidas">   Bebidas Alcoholicas</div>
			</td>
			<td >
				<div><input style="height:20px !important;" type="checkbox" name="regalo" value="accesorios">   Bolsas/Accesorios</div>
				<div><input style="height:20px !important;" type="checkbox" name="regalo" value="ropa">   Ropa</div>
				<div><input style="height:20px !important;" type="checkbox" name="regalo" value="accesorios">   Perfumes</div>
			</td>
			<td >
				<div><input style="height:20px !important;" type="checkbox" name="regalo" value="electronica">   Electronica</div>
				<div><input style="height:20px !important;" type="checkbox" name="regalo" value="libre">   Categoria Libre</div>
				<div><input style="height:20px !important;" type="checkbox" name="regalo" value="otro">   Otro</div>
			</td>
		
		
		</table>
		<br>
		
		Detalles:<textarea name="comentarios" rows="2" cols="50" placeholder="Escribe aqui tus comentarios" ></textarea>
		
	</div>
			<td class="text-center" text-center">
	            <input type="submit" id="guardar" style="margin-top:15px; width:100%;"class="btn btn-default btn-primary btn-lg" value="Guardar"/>
	        </td>
</div>