{% extends "base.html" %}
{% load static %}

{% block content %}
		<div class="col-lg-6 col-lg-offset-1">
			<div class="jumbotron ">
			<h1 class="titulo-eventos text-center marron navidad">Mis Eventos</h1>
			<table>
			{% for evento in mis_eventos %}
			<tr>
			<td style="width:500px"><div style="width:100%" class="btn btn-default btn-lg btn-custom glyphicon btn-rosita probando" > {{ evento.nombre }}</div></td>
			<td style="width:100px; text-align:right;"><div style="width:50px" class="btn btn-default btn-custom btn-lg btn-verde glyphicon glyphicon-trash rojo "></div></td>
			</tr>
			{% endfor %}
			</table>
			</div>
		</div>
		
		<div class="col-lg-4 text-center">
		<img class="scaled" src="{% static "img/intercambios/regalos.jpg" %}" alt="intercambios">
		<a href="/crear/evento/"><div class="btn btn-default btn-blue btn-lg">Crear Nuevo Evento</div></a>
		</div>
			
{% endblock %}