{% extends "base.html" %}
{% load static %}

{% block content %}
		<div class="col-lg-6 col-lg-offset-1">
			<div class="jumbotron text-center">
			<h1 class="titulo-eventos">Mis Eventos</h1>
			<div class="btn btn-default btn-lg btn-custom">Crear Nuevo Evento</div></br>
			<div class="btn btn-default btn-lg btn-custom">Crear Nuevo Evento</div></br>
			<div class="btn btn-default btn-lg btn-custom">Crear Nuevo Evento</div></br>
			</div>
		</div>
		
		<div class="col-lg-4 text-center">
		<img class="scaled" src="{% static "img/intercambios/regalos.jpg" %}" alt="intercambios">
		<a href="/crear/evento/"><div class="btn btn-default btn-primary btn-lg">Crear Nuevo Evento</div></a>
		</div>
			
{% endblock %}