{% load static %}

{% block extra_head %}
	<script type="text/javascript" src="{% static "js/intercambios/invitar_evento.js" %}"></script>
	<script>
	var fecha = "{{ evento.fecha_evento|date:"m/d/Y" }}";
	
	</script>
{% endblock %}
<div class="container">
	<div class="col-lg-12 jumbotron" style="margin-bottom:0px;">
	<h2>Link de Invitaci&oacute;n:</h2>
		<div class="titulo-circular">
		http://intercambios.herokuapp.com/participar/evento/{{ evento.id }}/
		</div>
		<span class="linea-pekis">Copia y envia este link a las personas que deseas que participen en este evento para que se unan y participen en tu intercambio de regalos.</span>
	</div>
</div>