{% load static %}

{% block extra_head %}
	<script type="text/javascript" src="{% static "js/intercambios/invitar_evento.js" %}"></script>
	<script>
	var eventoID = "{{ evento.id }}";
	</script>
	
	<link rel="stylesheet" type="text/css" href="{% static "js/select2/select2.css" %}" />
	<script type="text/javascript" src="{% static "js/select2/select2.min.js" %}"></script>
{% endblock %}
<div class="container">
	<div class="col-lg-12 jumbotron" style="margin-bottom:0px;">
	<h2>Link de Invitaci&oacute;n:</h2>
		<div class="titulo-circular text-center">
		{{ request.get_host }}/participar/evento/{{ evento.id }}/
		</div>
		<span class="linea-pekis">Copia y envia este link a las personas que deseas que se unan y participen en tu intercambio de regalos.</span>
	<h2>Invitar participantes que ya esten registrados:</h2>
	 <select id="usuarios" multiple="multiple" style="width:90%; height:30px; font-size:15px;">
	{% for usuario in usuarios %}
		{% ifnotequal usuario user %}
        <option value="{{usuario.id}}">{{ usuario.nombre|default:usuario.email }}</option>
        {% endifnotequal %}
	{% endfor %}
    </select>
    <div id="enviar-invitacion" style="margin-top:35px"class="btn btn-blue btn-lg">Enviar Invitaci&oacute;n</div>
    <div style="margin-top:45px; float:right;" class="red" id="enviado"></div>
	</div>
</div>