{% extends "base.html" %}
{% load static %}
{% block extra_head %}
	
 <script type="text/javascript" src="{% static "js/intercambios/login.js" %}"></script>
{% endblock %}

{% block content %}
	<div class="text-center">
		<div class="row-nomargin row" >    
			<div class="col-lg-6">
			 	<img class="scaled" src="{% static "img/intercambios/regalos.jpg" %}" alt="intercambios">
			</div>
			<div class="col-lg-5 col-sm-12">
			
			<div class="container">
				<div class="jumbotron login" style="border-radius:15px;">	
				
				    <form class="form-signin" method="post" action="" id="form-signin">
				    	{% csrf_token %}
				    	<div class="login-form">
					         	<h2>Inicia sesi&oacute;n</h2>
							<div  style="text-align:center; margin-top:5px !important;"id="crear-cuenta">&oacute;<br> <a class="no-title" href="#">Registrate</a></div>
					         	<input name="username" type="text" style="" class="form-control " placeholder="Usuario" value="">  
					         	<input name="password" type="password" class="form-control" placeholder="Clave" value="">  
					        	<button name="submit" id="submit" value="" type="submit" class="btn btn-large btn-danger">Ingresar</button>
						    	</form>
						</div><br>
				<table>
 				 <tr style="width:60px;">
 				 	<td>
 				 		<a href="/login/facebook/"><img  style="width:60px; height:60px;" src="{% static "img/facebook.png" %}" alt="facebook"></a>
 				 	</td>
 				 	<td>
 				 		<a href="/login/google-oauth2/"><img class="" style="width:63px; height:63px;" src="{% static "img/google.png" %}" alt="google"></a>
 				 	</td>
 				 	
 				 </tr>
 				 </table>
			        	</div>

			        				<div style="float: right"class="fb-like" data-href="http://intercambios.herokuapp.com/" data-layout="standard" data-action="like" data-show-faces="true" data-share="true">
			</div>
		</div>
	</div>
{% endblock %}