{% extends "base.html" %}
{% load static %}
{% block extra_head %}
	
 <script type="text/javascript" src="{% static "js/intercambios/login.js" %}"></script>
{% endblock %}

{% block content %}


	<div class="text-center" style="min-height:750px">
		<div class="row-nomargin row" >    
			<div class="col-lg-6">
			 	<img style="margin-top:-10px; margin-left: -90px; width:600px; height:550px;" src="{% static "img/intercambios/regalos.png" %}" alt="intercambios">
				<div class="fb-like" data-href="http://intercambios.herokuapp.com/" data-layout="standard" data-action="like" data-show-faces="true" data-share="true">
			</div>
			</div>
			<div class="col-lg-6 col-sm-12" >
			<div class="jumbotron login" style="border-radius:15px;">	
				<ul class="nav nav-tabs">
				  <li class="tab1"><a>Inicia Sesi&oacute;n</a></li>
				  <li class="tab2"><a>Crear Cuenta</a></li>
				</ul>
			</br>
			<div id="tab1">
				<h2> Inicia Sesi&oacute;n</h2>
			    <form class="form-signin" method="post" action="" id="form-signin">
			    	{% csrf_token %}
			    	<div class="login-form">
				         	<input title="E-mail" name="email" type="text" style="" class="form-control " placeholder="E-mail" value="">  
				         	<input autocomplete="off"  title="Contrase&ntilde;a" name="password" type="password" class="form-control" placeholder="Contrase&ntilde;a" value="">  
				        	<button name="submit" id="submit" value="" type="submit" class="btn btn-large btn-danger">Ingresar</button>
					    	</form>
					</div><br>
				<table>
 				 <tr style="width:60px;">
 				 	<td>
 				 		<a href="/login/facebook/"><img  style="width:60px; height:60px;" src="{% static "img/facebook.png" %}" alt="facebook"></a>
 				 	</td>
 				 	<td>
 				 		<a href="/login/google-oauth2/"><img class="" style="width:63px; height:63px;" src="{% static "img/google.png" %}" alt="google"></a>
 				 	</td>
 				 	
 				 </tr>
 				 <tr style="font-size:14px;">

 				 	<td colspan="1"><a class="no-title colorbox-link2" href="/terms_conditions/">Terms and Conditions </a></td>
 				 	<td>
 				 	</td>
 				 </tr>
 				 <tr>

 				 	
 				 </tr>

    
   
 				 </table>
 				 <div style="float:right; margin-top:-20px;">
 				 	<a style="text-decoration:none; margin-top:-20px;" target="_blank" href="mailto:solucionesidee@gmail.com"> Contactanos</a>
 				 </div>
			</div>	
				<div id="tab2" style="display:none;">
					<h2> Crear Cuenta</h2>
				    <form class="form-signin" method="post" action="" id="form-signin">
				    	{% csrf_token %}
				    	<div class="login-form">
			         	<input autocomplete="off" title="E-mail" name="email" type="text" style="" class="form-control " placeholder="E-mail" value="">  
			         	<input autocomplete="off" title="Nombre Completo" name="nombre" type="text" style="" class="form-control " placeholder="Nombre Completo" value="">  
			         	<input autocomplete="off" title="Contrase&ntilde;a"name="password" type="password" class="form-control" placeholder="Contraseña" value="">  
			         	<input autocomplete="off" title="Confirmar Contrase&ntilde;a"name="password2" type="password" class="form-control" placeholder="Confirmar Contraseña" value="">  
			        	<button name="submit" id="submit2" value="" type="submit" class="btn btn-large btn-danger">Crear Cuenta</button>
			    	</form>
						</div>
						<br>
				</div>
		</div>
	</div>


{% endblock %}