{% extends "base.html" %}
{% load static %}

{% block extra_head %}
	

{% endblock %}
{% block content %}
<div class="col-lg-8 jumbotron  col-lg-offset-2">
    <h1 class="titulo-eventos text-center marron Diamond">Completa tu Registro</h1> 
    <form action="/perfil/usuario/" method="post">
		<input id="csrf" type="hidden" name="csrfmiddlewaretoken" value="">
	    <table class="table-evento text  center">
	        <tr>
	            <td class="text-center"> 
	            Nombre Completo
	            <input id="nombre" name="nombre" value="{{ user.nombre }}" type="text" placeholder="Nombre Completo"/></td>
	        </tr>
	        <tr>
	            <td class="text-center">
	            Apodo
	             <input id="apodo" name="apodo" value="{{ user.apodo }}" type="text" placeholder="Apodo"/></td>
	        </tr>
	       
	         <tr>
	            <td class="text-center" text-center">
	            <input name="next" type="hidden" readonly  value="{{ next }}"/>
	            <input type="submit" id="guardar_datos" style="margin-top:15px; width:100%;"class="btn btn-default btn-blue btn-lg" value="Guardar"/>
	            </td>
	        </tr>
	    </table>
    </form>
</div>
{% endblock %}