{% extends "base.html" %}
{% load static %}

{% block extra_head %}
	<script type="text/javascript" src="{% static "js/qtip2/jquery.qtip.js" %}"></script>
	

	<link rel="stylesheet" type="text/css" href="{% static "js/qtip2/jquery.qtip.css" %}" />
{% endblock %}
{% block content %}
<div class="col-lg-8 jumbotron  col-lg-offset-2">
    <h1 class="titulo-eventos text-center marron Diamond">Completa tu Registro</h1> 
    <form action="" method="post">
		{% csrf_token %}
	    <table class="table-evento text center">
	        <tr>
	            <td style="width: 30px;"></td>
	            <td class="text-center"> 
	            <input id="nombre" name="nombre" value="{{ user.nombre }}" type="text" placeholder="Nombre Completo"/></td>
	        </tr>
	        <tr>
	            <td style="width: 30px;"></td>
	            <td class="text-center">
	             <input id="apodo" name="apodo" value="{{ user.apodo }}" type="text" placeholder="Apodo"/></td>
	        </tr>
	       
	         <tr>
	         <td></td>
	            <td class="text-center" text-center">
	            <input type="submit" id="guardar_datos" style="margin-top:15px; width:100%;"class="btn btn-default btn-blue btn-lg" value="Guardar"/>
	            </td>
	        </tr>
	    </table>
    </form>
</div>
{% endblock %}