 <div id="ruleta" style="display:none; opacity:1; position:fixed; z-index:99999; top: 20%; left: 30%;" >
   <!-- <h1 id="sorteo" class="Secrets">Generando el sorteo de los participantes...</h1>-->
        <div id="rotate">
        <div id="rotate1">
            <div id="ring-1" class="ring">
                <div class="tile1" style="-webkit-transform: rotateX(0deg) translateZ(200px); "><p>Fred</p></div>
                <div class="tile1" style="-webkit-transform: rotateX(30deg) translateZ(200px); "><p>Loser</p></div>
                <div class="tile1" style="-webkit-transform: rotateX(60deg) translateZ(200px); "><p>Loser</p></div>
                <div class="tile1" style="-webkit-transform: rotateX(90deg) translateZ(200px); "><p>Loser</p></div>
                <div class="tile1" style="-webkit-transform: rotateX(120deg) translateZ(200px); "><p>Loser</p></div>
                <div class="tile1" style="-webkit-transform: rotateX(150deg) translateZ(200px); "><p>Loser</p></div>
                <div class="tile1" style="-webkit-transform: rotateX(180deg) translateZ(200px); "><p>Loser</p></div>
                <div class="tile1" style="-webkit-transform: rotateX(210deg) translateZ(200px); "><p>Loser</p></div>
                <div class="tile1" style="-webkit-transform: rotateX(240deg) translateZ(200px); "><p>Loser</p></div>
                <div class="tile1" style="-webkit-transform: rotateX(270deg) translateZ(200px); "><p>Loser</p></div>
                <div class="tile1" style="-webkit-transform: rotateX(300deg) translateZ(200px); "><p>Loser</p></div>
                <div class="tile1" style="-webkit-transform: rotateX(330deg) translateZ(200px); "><p>Loser</p></div>
            </div>
        </div>
        <div id="rotate2">
            <div id="ring-2" class="ring">
                <div class="tile2" style="-webkit-transform: rotateX(0deg) translateZ(200px); "><p>Fred</p></div>
                <div class="tile2" style="-webkit-transform: rotateX(30deg) translateZ(200px); "><p>Loser</p></div>
                <div class="tile2" style="-webkit-transform: rotateX(60deg) translateZ(200px); "><p>Loser</p></div>
                <div class="tile2" style="-webkit-transform: rotateX(90deg) translateZ(200px); "><p>Loser</p></div>
                <div class="tile2" style="-webkit-transform: rotateX(120deg) translateZ(200px); "><p>Loser</p></div>
                <div class="tile2" style="-webkit-transform: rotateX(150deg) translateZ(200px); "><p>Loser</p></div>
                <div class="tile2" style="-webkit-transform: rotateX(180deg) translateZ(200px); "><p>Loser</p></div>
                <div class="tile2" style="-webkit-transform: rotateX(210deg) translateZ(200px); "><p>Loser</p></div>
                <div class="tile2" style="-webkit-transform: rotateX(240deg) translateZ(200px); "><p>Loser</p></div>
                <div class="tile2" style="-webkit-transform: rotateX(270deg) translateZ(200px); "><p>Loser</p></div>
                <div class="tile2" style="-webkit-transform: rotateX(300deg) translateZ(200px); "><p>Loser</p></div>
                <div class="tile2" style="-webkit-transform: rotateX(330deg) translateZ(200px); "><p>Loser</p></div>
            </div>
        </div>
        <div id="rotate3">
            <div id="ring-3" class="ring">
                <div class="tile3" style="-webkit-transform: rotateX(0deg) translateZ(200px); "><p>Fred</p></div>
                <div class="tile3" style="-webkit-transform: rotateX(30deg) translateZ(200px); "><p>Loser</p></div>
                <div class="tile3" style="-webkit-transform: rotateX(60deg) translateZ(200px); "><p>Loser</p></div>
                <div class="tile3" style="-webkit-transform: rotateX(90deg) translateZ(200px); "><p>Loser</p></div>
                <div class="tile3" style="-webkit-transform: rotateX(120deg) translateZ(200px); "><p>Loser</p></div>
                <div class="tile3" style="-webkit-transform: rotateX(150deg) translateZ(200px); "><p>Loser</p></div>
                <div class="tile3" style="-webkit-transform: rotateX(180deg) translateZ(200px); "><p>Loser</p></div>
                <div class="tile3" style="-webkit-transform: rotateX(210deg) translateZ(200px); "><p>Loser</p></div>
                <div class="tile3" style="-webkit-transform: rotateX(240deg) translateZ(200px); "><p>Loser</p></div>
                <div class="tile3" style="-webkit-transform: rotateX(270deg) translateZ(200px); "><p>Loser</p></div>
                <div class="tile3" style="-webkit-transform: rotateX(300deg) translateZ(200px); "><p>Loser</p></div>
                <div class="tile3" style="-webkit-transform: rotateX(330deg) translateZ(200px); "><p>Loser</p></div>
            </div>
        </div>
        </div>
       
    </div>
    